$orange-1: #ffb001;
$orange-2: #ffc033;
$grey-1: #f2f2f2;
$grey-2: #3f3f3f;
$yellow-1: #ffe24e;
$general-color: #6f7072;
$general-text-color: #9b9c9e;

$bleu-color: #1066a3;
$bleu-color-2: #00498c;
$violet-color: #b31f8f;
$vert-color: #8bc83f;
$rouge-color: #e3002b;

$mobil-width: 360px;
$tablet-width: 768px;
$desktop-width: 1260px;
$container-width: 960px;
$large-container-width: 1000px;

$laps_animation_visibility_time : 300ms;
$laps_animation_transform_time : 300ms;
$laps_animation_opacity_time : 300ms;
$transition_delay_time : 200ms;